<template>
  <div class="w-full h-screen pt-4 bg-gray-200 flex flex-col items-center mb-24">
    <div 
      v-if="blogEntry" 
      class="
        p-8 rounded shadow-lg bg-white mx-4 mb-24
        border-t-16 border-blue-700
        w-11/12 lg:w-196
      "
    >
      <div
        class="text-2xl tracking-tight font-extrabold text-gray-700"
      >
        {{ blogEntry.title }}
      </div>
      <div class="ml-1 text-blue-600">
        {{ $moment(blogEntry.date).format('YYYY/MM/DD') }}
      </div>
      <div class="mt-4 text-4xl tracking-tight antialiased tracking-wide font-thin leading-tight text-blue-800">
        {{ blogEntry.description }}
      </div>
      <div class="blog-body mt-4" v-html="this.blogBody">
      </div>
      <button 
        type="button" 
        class="mt-4 inline-flex items-center px-6 py-2 border border-transparent text-md leading-4 font-bold rounded text-blue-700 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo active:bg-indigo-200 transition ease-in-out duration-150 shadow"
        @click="$router.push('/')"
      >
        Home
      </button>      
    </div>
  </div>  
</template>
<script>
import MarkdownIt from 'markdown-it'

export default {
  data: function() {
    return {
      blogEntry: null,
      blogBody: null
    }
  },
  async mounted() {
    const entryId = this.$route.query.id
    const entryRes = await this.$axios.get(`https://flacito-centro.gitlab.io/content/blog/${entryId}.json`)
    this.blogEntry = entryRes.data

    const md = new MarkdownIt();
    this.blogBody = md.render(this.blogEntry.body)
  }
}
</script>
<style scoped>
.blog-body >>> p {
  @apply my-4
}
</style>