<template>
  <div class="flex flex-col bg-gray-100 items-center pt-12 w-full h-screen">
    <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
      Flacito's
      <br class="xl:hidden" />
      <span class="text-blue-600">online blog</span>
    </h2>    
    <div 
      class="
        mt-12
        flex flex-row justify-center flex-wrap items-stretch
        w-11/12 lg:w-3/4
      "
    >
      <div 
        v-for="(b,i) in $blogEntries"
        :key="`be-${i}`"
        class="w-84 bg-white overflow-hidden shadow rounded-lg border border-gray-400 m-4 cursor-pointer"
        @click="$router.push(`/blog-entry?id=${b.id}`)"
      >
        <div class="pt-3 px-4 text-2xl leading-9 font-extrabold tracking-tight text-blue-900 sm:leading-10">
          {{ b.title }}
        </div>
        <div class="mt-2 px-4">
          {{ b.description }}
        </div>
        <div class="mt-4 bg-gray-200 px-4 py-4 sm:px-6 flex flex-row justify-end font-bold text-gray-600">
          {{ $moment(b.date).format('YYYY/MM/DD') }}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    loadBlogEntry(blogEntry) {

    }
  }
}
</script>
